{% extends 'front/home.html.twig' %}
{% block avion %}{% endblock %}
{% block top_menu %}

		<!--page title start-->
	<div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0" style="background-image:url({{asset("/front/assets/images/Home/home4.jpg")}});">
		<ul>
			<li><a href="javascript:;">Agencies</a></li>
		</ul>
	</div>
	<!--page title end-->
	<div class="clearfix"></div>


{% endblock %}


{% block content %}


	<!-- slider_tab_main end -->
	<div class="full_width travelite_world_section">
		<div class="container">
			<div class="row">

				<div class="heading_team">
					<h3>OUR PARTNERS</h3>
					<p>We take pride in collaborating with prestigious partners.</p>
				</div>

				<div class="full_width rectangle_wrapper">

					{% for agence in agencies %}


						<!-- first ractangle start -->
						<a href="{{path('app_front_agence_show',{'id': agence.id})}}">
							<div
								class="col_25 ractangle_box_cover">
								
								<div class="full_width ">
									<img src="{{ asset('uploads/images/agences/logo/' ~ agence.brochureFilename) }}" alt="house">
									{# <div class="inner_ovelay">
										<h4>{{agence.name}}</h4>
										
									</div> #}
								</div>

								<div class="circle_icon">
									<i class="fa fa-arrow-right small_circle"></i>
								</div>

							</div>
						</a>
						<!-- first ractangle End -->
					{% endfor %}

				</div>

			</div>
		</div>
	</div>
	<!-- counter section End -->
	<!-- feature section start -->
	<!-- slider_tab_main end -->



{% endblock %}
