{% extends 'base.html.twig' %}
{% block javascripts %}{% endblock %}
{% block title %}
	Espace Agence
{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Agency</span>
		- Agency pages</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Agency</a>
		<span class="breadcrumb-item active">Agency Pages - Espace Agency
		</span>
	</div>
{% endblock %}

{% block content %}


	<!-- Schedule -->
	<div class="timeline-row">
		<div class="timeline-icon">
			<img src="{{asset('global_assets/images/placeholders/placeholder.jpg')}}" alt="">
		</div>

		<div class="card">
			<div class="card-header header-elements-inline">
				<h6 class="card-title font-weight-semibold">Espace agence</h6>
				<div class="header-elements">
					<div class="list-icons">
						<div class="list-icons-item dropdown"></div>
					</div>
				</div>
			</div>

			<div class="card-body">
				<div class="my-schedule"></div>
			</div>
		</div>
	</div>
	<!-- /schedule -->

{% endblock %}
